@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

body {
  @apply font-pretendard bg-[#242423] text-text [&>*]:border-[#dddddd59];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .center {
    @apply x-center y-center;
  }
  .x-center {
    @apply left-[50%] translate-x-[-50%];
  }
  .y-center {
    @apply top-[50%] translate-y-[-50%];
  }
  /* 프로젝트 성격에 맞게 수정 필요 */
  .inner {
    @apply max-w-[1024px] w-full mx-auto px-[22px];
  }
}

* {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #242423;
    border-radius: 10px;
    width: 4px;
  }
}
textarea::-webkit-scrollbar {
  display: none;
}
